.english_word, .translates {
    user-select: none;
}

.task {
    font-size: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -100%);
    border: 5px solid #3D6CFF;
    border-radius: 5px;
    width: 40%;
    flex-direction: column;
}

.english_word {
    text-decoration: underline;
    text-align: center;
}

.translate {
    border-radius: 5%;
    border: 2px solid #3D6CFF;
    font-family: Calibri;
    font-size: 120%;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;
}
