<!doctype html>
<html lang="ru" translate="no">
<head>
  <meta charset="utf-8" />
  <title>Учить английский - просто!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="shortcut icon" href="/static/image/abc.ico" type="image/x-icon">
</head>
<body>
    <div class="main">
      <h1>Учить английский - просто!</h1>
      <p class="hello_text">На этом сайте представлены несколько тестов по английскому языку.
        Пройди их, и узнай свой результат!
      </p>
      <h3>Выбери режим игры:</h3>
    </div>
    <form method="post" action="/">
      <div class="games">
        <div class="game">
          <p class="game_name">Проверь своё знание лексики!</p>
          <p class="game_type">Тебе будут предложены 100 английских слов. Выбери верный вариант перевода!</p>
          <p class="game_themes"><b>Темы:</b> работа, человеческие качества, описание природы, город.</p>
          <p class="game_time">Примерное время прохождения теста - 15 минут</p>
          <button name="game_button">Словарный запас</button>
        </div>
        <div class="game">
          <p class="game_name">Проверь своё знание простых времён!</p>
          <p class="game_type">Тебе будут предложены 30 предложений. Выбери верный вариант глагола!</p>
          <p class="game_themes"><b>Темы:</b> present simple, past simple, future simple.</p>
          <p class="game_time">Примерное время прохождения теста - ? минут</p>
          <button name="game_button">Грамматика</button>
        </div>
        <div class="game">
          <p class="game_name">Проверь своё знание лексики!</p>
          <p class="game_type">Тебе будут предложены 100 английских слов. Выбери верный вариант перевода!</p>
          <p class="game_themes"><b>Темы:</b> работа, человеческие качества, описание природы, город.</p>
          <p class="game_time">Примерное время прохождения теста - 15 минут</p>
          <button name="game_button">Словарный запас</button>
        </div>
        <div class="game">
          <p class="game_name">Проверь своё знание лексики!</p>
          <p class="game_type">Тебе будут предложены 100 английских слов. Выбери верный вариант перевода!</p>
          <p class="game_themes"><b>Темы:</b> работа, человеческие качества, описание природы, город.</p>
          <p class="game_time">Примерное время прохождения теста - 15 минут</p>
          <button name="game_button">Словарный запас</button>
        </div>
        <div class="game">
          <p class="game_name">Проверь своё знание лексики!</p>
          <p class="game_type">Тебе будут предложены 100 английских слов. Выбери верный вариант перевода!</p>
          <p class="game_themes"><b>Темы:</b> работа, человеческие качества, описание природы, город.</p>
          <p class="game_time">Примерное время прохождения теста - 15 минут</p>
          <button name="game_button">Словарный запас</button>
        </div>
      </div>
    </form>
</body>
</body>
</html>