<!doctype html>
<html lang="ru" translate="no">
<head>
  <meta charset="utf-8" />
  <title>Проверь свой словарный запас!</title>
  <link rel="stylesheet" href="/static/css/words.css">
  <link rel="shortcut icon" href="/static/image/abc.ico" type="image/x-icon">
</head>
<body>
</body>
    <div class="task">
        <div class="english_word">
            <h3>{{number}}. {{english_word}}</h3>
        </div>
        <div class="translates">
            <form class="btn-group", name="Выбери верный вариант перевода:", method="post", action="/words">
                <input class="translate" type="submit" name="word" value="{{translate1}}">
                <input class="translate" type="submit" name="word" value="{{translate2}}">
                <input class="translate" type="submit" name="word" value="{{translate3}}">
                <input class="translate" type="submit" name="word" value="{{translate4}}">
            </form>
        </div>
    </div>
</body>
</html>